@model IEnumerable<WebBanHangOnline.Models.EF.ProductImage>
@{
    ViewBag.Title = "Ảnh sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
<style>
    glImage{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .glImage li{
        display: inline-block;
        position: relative;

    }
    .box-btn{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    
</style>
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ảnh sản phẩm</h3>

            <div class="card-tools">
                <input type="button" value="Tải ảnh" class="btn btn-primary" onclick="BrowserServer('txtImage')" />
                <a href="#" class="btn btn-danger btnDeleteAll">Xóa hết </a>
            </div>
        </div>
        <div class="card-body">
            <ul class="glImage">
                @if(Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li id="trow_@item.Id">
                            <img src="@item.Image" width="150" />
                            <div class="box-btn">
                                <a href="#" data-id="@item.Id" class="btn btn-danger btnDelete"><i class="fa fa-trash"></i></a>
                                <a href="#" data-id="@item.Id" class="btn btn-success btnDefault"><i class="fa fa-check"></i></a>
                            </div>
                           
                        </li>
                    }
                }
            </ul>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<script>
    function BrowserServer(field) {
        var finder = new CKFinder()
        finder.selectActionFunction = function (fileUrl) {
            AddImage(@ViewBag.productId,fileUrl)
        }
        finder.popup()
    }
    function AddImage(id, url) {
        $.ajax({
            url: '/admin/productimage/addimage',
            type: 'POST',
            data: { productId: id, url: url },
            success: function (rs) {
                if (rs.success) {
                    window.location.reload()

                }
            }
        })
    }
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data("id")
            var conf = confirm('Bạn có muốn xóa không?')
            if (conf) {
                $.ajax({
                    url: '/admin/ProductImage/delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {

                        if (rs.success)
                            $('#trow_' + id).remove()
                    }
                })
            }
        })

        //$('body').on('click', '.btnDeleteAll', function (e) {
        //    debugger
        //    e.preventDefault()
        //    var id = $(this).data("id")
        //    var conf = confirm("ban co muon xoa cac ban ghi nay khong")
        //    if (conf) {
        //        $.ajax({
        //            url: '/admin/productimage/deleteall',
        //            type: 'POST',
        //            data: { ids: id },
        //            success: function (rs) {
        //                if (rs.success) {
        //                    location.reload()
        //                }
        //            }
        //        })
        //    }
        //}
    })
</script>